@import "home.css";

.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* BODY */

body {
  margin: 0;
  padding: 0;
  background-color: #A9BA9D;
}

body .a {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  table-layout: auto;
  margin: 2%;
  width: 70%;
}

#topo{
  background-color: #004526;
  color: lightgray;
  border: 1px solid black;
  margin: 5px;
}

body .a th,
td {
  border: 1px solid black;
  margin: 5px;

}

body .lander {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  
}

body p {
  text-align: center;
}

body .escalao {
  text-align: center;
}

body .escalao ul {
  display: inline-block;
  text-align: left;
}

body .links {
  text-align: center;
}

body .links ul {
  display: inline-block;
  text-align: left;
}

/* Login*/
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: auto;
  padding: 150px;
  align-items: center;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: #004526;
  color: white;
}

/*
.loginContainer input {
  border: 2px solid black;
}
*/

/*Inscrição Tecnicos e Jogadores CSS*/
.Inscrição {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Inscrição3 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.formLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 40%;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;


}

.formRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 100%;
}



.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 20%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
  float: right;
}

.formContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  height: 20%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
  float: right;
}

.formContainer3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 20%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
  float: right;
}

.formContainer .field{
  margin-top: 10px;
}
.formContainer3 .field{
  margin-top: 10px;
}

.formContainer2 button {
  margin-top: 0%;
  height: 40px;
  border: none;
  background-color: #00452679;
  border-radius: 5px;
  color: white;

}

.formContainer3 button:hover {
  cursor: pointer;
  background-color: #004526;
}

.formContainer3 button {
  margin-top: 0%;
  height: 40px;
  border: none;
  background-color: #00452679;
  border-radius: 5px;
  color: white;

}

.formContainer2 button:hover {
  cursor: pointer;
  background-color: #004526;
}


.formContainer button {
  margin-top: 0%;
  height: 40px;
  border: none;
  background-color: #00452679;
  border-radius: 5px;
  color: white;

}

.btnInfo{
  text-align: center;
  margin-top: 25px;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: #004526;
}



/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: #367c2b;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

}

.navbar .Home {
  color: white;
  font-weight: bold;
  text-align: center;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  border: #A9BA9D;
}

.navbar .login-right {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.navbar button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #367c2b;
  border: 2px solid black;

}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: black;
  font-weight: lighter;
}

span {
  color: red;
  font-size: small;
}

/*Torneio */

.torneio {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;

}

.torneio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px;

}

.torneio:hover {
  box-shadow: white 0px 7px 29px 0px;
  cursor: pointer;
}

.torneio .ano {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: #004526;
  display: grid;
  place-content: center;
  color: white;
}

.torneio .escalao {
  flex: 60%;
  display: grid;
  place-content: center;
}

/*Torneio */

.Inscrição .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Inscrição .back-button {
  font-size: 14px;
  margin-right: auto;
  background-color: #A9BA9D;
  border: 2px solid black;
  width: 120px;
  height: 40px;
}

.Inscrição3 .back-button {
  font-size: 14px;
  margin-right: auto;
  background-color: #A9BA9D;
  border: 2px solid black;
  width: 120px;
  height: 40px;
}

.jogo {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.jogo:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.jogo .DataJogo {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: #004526;
  display: grid;
  place-content: center;
  color: white;
}

.jogo .Home {
  flex: 60%;
  display: grid;
  place-content: center;
}

.jogo .Away {
  flex: 60%;
  display: grid;
  place-content: center;
}

.jogo .JogoTypeId {
  flex: 20%;
  place-content: center;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #004526;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Inscrição Equipas pop-up*/
.custom-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 9999;
}

.custom-alert {
  background-color: lightgray;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-alert p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.custom-alert button {
  padding: 8px 16px;
  background-color: #004526;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

/* Info Players*/

.club-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.custom-alert-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 9999;
}

.custom-alert2 {
  background-color: lightgray;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-alert2 p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.custom-alert2 button {
  padding: 8px 16px;
  background-color: #004526;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-table {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  /* Add scrollbar when content overflows */

}

.info-table table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  border: 1px solid #004526;
  padding: 8px;
  text-align: left;
}

.info-table th {
  background-color: #004526;
  color: lightgray;
}