@import "home.css";
.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* BODY */

body {
  margin: 0;
  padding: 0;
  background-color: #A9BA9D;
}

body .a{
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  table-layout: auto;
  width: 100%;
}

body .a th, td{
  border: 1px solid black;
}

body .lander{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}
body p{
  text-align: center;
}
body .escalao{
  text-align: center;
}
body .escalao ul{
  display: inline-block;
  text-align: left;
}
body .links{
  text-align: center;
}
body .links ul{
  display: inline-block;
  text-align: left;
}

/* Login*/
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: auto;
  padding: 150px;
  align-items: center;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: #004526;
  color: white;
}

/*
.loginContainer input {
  border: 2px solid black;
}
*/

/*Inscrição Tecnicos e Jogadores CSS*/
.Inscrição {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color:  #00452679;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color:  #004526;
}



/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: #367c2b;
  display:flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.navbar .login-right{
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.navbar button{
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: lightgray;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: black;
  font-weight: lighter;
}

span {
  color: red;
  font-size: small;
}

/*Torneio */

.torneio {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  box-shadow: lightgray 0px 2px 8px 0px;
}

.torneio-container {
  display: flex; /* Create a container for the torneio elements */
  justify-content: space-between; /* Position the torneio elements with space between */
  width: 85%; /* Set the width to 100% to span the container */
  margin-top: 20px; /* Add margin at the top for spacing */
}

.torneio:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.torneio .ano {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: #004526;
  display: grid;
  place-content: center;
  color: white;
}

.torneio .escalao {
  flex: 60%;
  display: grid;
  place-content: center;
}

/*Torneio */

.Inscrição .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Inscrição .back-button {
  padding: 5px 10px;
  font-size: 14px;
  margin-right: auto;
}

.jogo {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.jogo:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.jogo .DataJogo {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: #004526;
  display: grid;
  place-content: center;
  color: white;
}

.jogo .Home {
  flex: 60%;
  display: grid;
  place-content: center;
}
.jogo .Away {
  flex: 60%;
  display: grid;
  place-content: center;
}

.jogo .JogoTypeId {
  flex: 20%;
  place-content: center;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #004526;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Inscrição Equipas pop-up*/
.custom-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 9999;
}

.custom-alert {
  background-color: lightgray;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-alert p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.custom-alert button {
  padding: 8px 16px;
  background-color: #004526;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Info Players*/

.club-name {
  font-size: 25px;
  margin-bottom: 10px; /* Adjust the margin value as needed */ 
}
